<h1 class="font-semibold text-2xl">Pregled troškova</h1>
<a href="expenses/add" class="mt-5 inline-block bg-green-600 text-white px-3 py-3 rounded-lg text-lg font-semibold hover:bg-green-700 transition">Dodaj trosak</a>